#데이터베이스 연결 정보 저장
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DB_NAME


# Gistory IDP 정보
IDP_USER_INFO_URL="https://api.idp.gistory.me/oauth/userInfo"
IDP_TOKEN_URL="https://api.idp.gistory.me/oauth/token"

# 개발자 센터에서 발급받은 본인의 정보
IDP_CLIENT_ID=
IDP_CLIENT_SECRET=

JWT_SECRET=
JWT_EXPIRES_IN=1h

# 서버 환경
NODE_ENV=development